

<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
            <mat-nav-list (click)="sidenav.close()">
                <a mat-list-item routerLink ="/">
                    <span>cources</span>
                    <mat-icon>
                        library_books
                    </mat-icon>
                </a>
            </mat-nav-list>
    </mat-sidenav>
     
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <app-home></app-home>
    
  </mat-sidenav-container>
  

